.loading {
	z-index: 1000;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(248, 248, 248, 1)
}

.loading_img {
	position: relative;
	display: inline-block;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 150px;
	transform: translateY(-50%) translateX(-50%)
}

.circle {
	position: absolute;
	border: 3px solid transparent;
	border-top-color: #386eef;
	border-radius: 50%;
	-webkit-animation: rotate linear infinite;
	animation: rotate linear infinite
}

.circle.one {
	height: 50px;
	width: 50px;
	left: 50px;
	top: 50px;
	-webkit-animation-duration: .85s;
	animation-duration: .85s
}

.circle.two {
	height: 75px;
	width: 75px;
	top: 38px;
	left: 38px;
	-webkit-animation-duration: .95s;
	animation-duration: .95s
}

.circle.three {
	height: 100px;
	width: 100px;
	top: 25px;
	left: 25px;
	-webkit-animation-duration: 1.05s;
	animation-duration: 1.05s
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg)
	}

	to {
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0)
	}
}

@keyframes rotate {
	from {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg)
	}

	to {
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0)
	}
}